/* Stuck menu styles
========================================================*/
.isStuck {
  z-index: 999;
  position: fixed;
  background: #FFF;
}
.isStuck #search {
  display: none;
}
@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}
