/* ======= Main menu variables ======= */
/* ======= Sub menus common variables ======= */
/* ======= First level sub menu variables ======= */
/* Main menu styles
========================================================*/
.sf-menu > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative;
  text-align: center;
}
.sf-menu > li:first-child a {
  border-left: 1px solid #e4e3e3;
}
.sf-menu > li > .sf-with-ul:after {
  display: block;
  font-family: FontAwesome;
  font-size: 10px;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  cursor: default;
  content: "\f0d7";
  color: #777777;
  bottom: 2px;
  left: 50%;
  margin-left: -3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sf-menu > li > a {
  text-transform: none;
  font: 400 16px/33px "Roboto Slab", sans-serif;
  display: block;
  padding: 17px 30px 20px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #777777;
  border-right: 1px solid #e4e3e3;
}
.sf-menu > li > a:hover {
  background: #269b9e;
  color: #ffffff;
  border-color: #269b9e;
}
@media (max-width: 979px) {
  .sf-menu > li > a {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.sf-menu .sfHover > a {
  background: #269b9e;
  color: #ffffff;
  border-color: #269b9e;
}
.sf-menu .sfHover > a:after {
  color: #ffffff;
}
.sf-menu > li.current > a {
  background: #269b9e;
  color: #ffffff;
  border-color: #269b9e;
}
.sf-menu > li.current > a:after {
  color: #ffffff;
}
/* First level sub-menu styles
========================================================*/
.sf-menu ul {
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.09);
  display: none;
  min-width: 270px;
  font: 400 14px/59px "Roboto Slab", sans-serif;
  position: absolute;
  top: 76px;
  left: 0;
  background: #ffffff;
  text-align: left;
  padding: 0;
  z-index: 2;
}
.sf-menu ul li {
  position: relative;
  display: block;
}
.sf-menu ul li > .sf-with-ul:after {
  display: block;
  font-family: FontAwesome;
  font-size: 10px;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  cursor: default;
  content: "\f0da";
  color: #777777;
  bottom: -1px;
  right: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sf-menu ul li + li a {
  border-top: 1px solid #d9d9d9;
}
.sf-menu ul li a {
  display: block;
  color: #777777;
  text-transform: none;
  padding-left: 30px;
}
.sf-menu ul li a:hover {
  border-color: #d9d9d9;
  background: #ffae00;
  color: #ffffff;
}
.sf-menu ul > .sfHover > a {
  border-color: #d9d9d9;
  color: #ffffff;
  background: #ffae00;
}
.sf-menu ul > .sfHover > a:after {
  color: #ffffff;
}
/* Second level sub-menu styles
========================================================*/
.sf-menu ul ul {
  position: absolute;
  top: 0;
  left: 270px;
  margin-left: 0;
  z-index: 4;
}
@media only screen and (max-width: 767px) {
  .sf-menu {
    display: none;
  }
  nav {
    width: 100%;
    float: none;
  }
  .select-menu {
    border-radius: none;
    display: block;
    text-transform: capitalize;
    float: none;
    color: #ffae00;
    width: 100%;
    background: #ffffff;
    font: 400 16px/33px "Roboto Slab", sans-serif;
    text-align: left;
    border: 1px solid #c1c1c1;
    padding: 2px 0;
    position: relative;
  }
  .select-menu option {
    text-align: left;
    position: relative;
  }
}
/*Core variables and mixins*/
